node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
run/.expo/settings.json
run/.expo/README.md
App.js
.expo-shared/README.md
android/apk/delicious-recipes-241c62c751df410e8ecb24bc03c1d65e-signed.apk
