node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

#hidden
firebase/
android/apk/
android/app/

# macOS
.DS_Store
run/.expo/settings.json
run/.expo/README.md
App.js
.expo-shared/README.md
